<div class="container col-md-12">
    <div class="row">
        <div class="text-center mt-5">
            <h2>Haberler</h2>
        </div>

        <div class="col-md-12 mb-5">
            <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                (click)="haber2(modalHaber2)">
                <img class="haber-icerik" src="../../../assets/haber2.jpg">
                <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                    Akdeniz Üniversitesi Seçildi</p>
            </a>
        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">Akdeniz
                            Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-12">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>

                <div class="col-md-12">
                    <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
                        (click)="haber2(modalHaber2)">
                        <img class="haber-icerik" src="../../../assets/haber2.jpg">
                        <p class="text-center urun-yazi-1"
                            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
                            Akdeniz Üniversitesi Seçildi!</p>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" #modalHaber2>
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{{modalBaslik}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light text-black">


                <div class="content col-md-9">
                    <div class="col-md-6">
                        <img src=" ../../../assets/haber2.jpg">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
                        blanditiis
                        animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
                        nisi
                        asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
                        consequuntur
                        suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
                        nesciunt
                        quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga
                        voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
                        saepe
                        voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
                        blanditiis
                        animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
                        nisi
                        asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
                        consequuntur
                        suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
                        nesciunt
                        quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga
                        voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
                        saepe
                        voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
                        blanditiis
                        animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
                        nisi
                        asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
                        consequuntur
                        suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
                        nesciunt
                        quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga
                        voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
                        saepe
                        voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
                        blanditiis
                        animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
                        nisi
                        asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
                        consequuntur
                        suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
                        nesciunt
                        quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga
                        voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
                        saepe
                        voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
    </div>
</div>


<div style="height: 50px;"></div>

<footer class="text-center text-white bg-danger">
    <div class="text-center text-white p-3">
        © 2022 Tüm Hakları Saklıdır
    </div>
</footer>