<div class="container col-md-12" *ngIf="(uye | async) as user; else login">
  <div class="row">
    <div class="text-center mt-5">
      <h2>Kişiselleştirilmiş Haber Akışı</h2>
    </div>

    <div class="col-md-9">
      <div class="row">

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">Akdeniz
              Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.spor == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber3"
            (click)="haber3(modalHaber3)">
            <img class="haber-icerik" src="../../../assets/haber3.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Türkiye Birinci Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.spor == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber3"
            (click)="haber3(modalHaber3)">
            <img class="haber-icerik" src="../../../assets/haber3.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Türkiye Birinci Seçildi!</p>
          </a>
        </div>

        <div class="col-md-3" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>



      </div>
    </div>

    <div class="col-md-3">
      <div class="row">

        <div class="col-md-12" *ngIf="user.tek == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber2"
            (click)="haber2(modalHaber2)">
            <img class="haber-icerik" src="../../../assets/haber2.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Akdeniz Üniversitesi Seçildi!</p>
          </a>
        </div>

        <div class="col-md-12" *ngIf="user.spor == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber3"
            (click)="haber3(modalHaber3)">
            <img class="haber-icerik" src="../../../assets/haber3.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Türkiye Birinci Seçildi!</p>
          </a>
        </div>

        <div class="col-md-12" *ngIf="user.gundem == '1'">
          <a href="urunler/" class="nav nav-link haber" data-bs-toggle="modal" data-bs-target="#modalHaber1"
            (click)="haber1(modalHaber1)">
            <img class="haber-icerik" src="../../../assets/haber.jpg">
            <p class="text-center urun-yazi-1" style="font-weight: bold; padding-top: 10px; margin-bottom: 5px;">
              Dolar Düştü!</p>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" #modalHaber1>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light text-black">


        <div class="content col-md-9">
          <div class="col-md-6">
            <img src=" ../../../assets/haber.jpg">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" #modalHaber2>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light text-black">


        <div class="content col-md-9">
          <div class="col-md-6">
            <img src=" ../../../assets/haber2.jpg">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" #modalHaber3>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light text-black">

        <div class="content col-md-9">
          <div class="col-md-6">
            <img src=" ../../../assets/haber3.jpg">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem officiis voluptatem
            blanditiis
            animi, ad itaque sint necessitatibus doloribus quo ducimus placeat expedita magnam porro, fugit
            nisi
            asperiores suscipit ex! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            consequuntur
            suscipit doloribus odit architecto rerum iure, ex aperiam accusantium laboriosam excepturi quae,
            nesciunt
            quam quia? Modi atque nisi nulla quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fuga
            voluptatibus et tempora est dignissimos doloribus temporibus, dolorum aperiam? Rem dolor autem
            saepe
            voluptate. Placeat cupiditate ea, blanditiis repudiandae dicta cum.</p>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
    </div>
  </div>
</div>

<div style="height: 50px;"></div>

<footer class="text-center text-white bg-danger" *ngIf="(uye | async) as user">
  <div class="text-center text-white p-3">
    © 2022 Tüm Hakları Saklıdır
  </div>
</footer>

<ng-template #login>
  <div class="container col-md-12 mt-5">
    <div class="row">
      <h3>Özelleştirilmiş haber akışını görmek için lütfen oturum açın.</h3>
      <div class="mt-4"><a href="/login"><button class="btn btn-lg btn-danger">Oturum Aç</button></a></div>
    </div>
  </div>
</ng-template>